@model Cliente

<form asp-action="Cadastrar" method="post">
    <a asp-action="Index" class="container-fluid">Voltar a Home</a>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container" style="margin-top:15px;margin-bottom:30px">
        <h4 class="text-success">Cadastro de Cliente</h4>


        <div class="form-group" id="Nome">
            <label class="text-info" for="Nome">Nome</label>
            <input class="form-control col-md-4" placeholder="Nome" asp-for="Nome" />
        </div>
        <div class="form-group" id="Rg">
            <label class="text-info" for="Rg">Rg</label>
            <input class="form-control col-md-4" placeholder="RG" asp-for="Rg" />
        </div>
        <div class="form-group" id="Cpf">
            <label class="text-info" for="Cpf">Cpf</label>
            <input class="form-control col-md-4" placeholder="CPF" asp-for="Cpf" />
        </div>
        <div class="form-group" id="Senha">
            <label class="text-info" for="Senha">Senha</label>
            <input type="password" class="form-control col-md-4" placeholder="Senha" asp-for="Senha" />
        </div>
        <div class="form-group" id="Cnh">
            <label class="text-info" for="Cnh">Cnh</label>
            <input class="form-control col-md-4" placeholder="Cnh" asp-for="Cnh" />
        </div>
        <div class="form-group" id="Categoria">
            <label class="text-info" for="CategoriaCnh">Categoria Cnh</label>
            <select asp-for="CategoriaCnh" class="form-control col-md-4">
                <option>Selecione sua categoria</option>
                <option>A</option>
                <option>B</option>
                <option>AB</option>
            </select>
        </div>
     
        <button class="btn btn-outline-success col-md-4" type="submit">Cadastrar</button>


    </div>

</form>

