@model List<Carro>

<div class="row" id="Carro">
    @foreach (Carro item in Model)
    {
    <div class="col-md-3" style="text-align:center; margin-bottom:15px">
        <a asp-action="Detalhes" asp-controller="Cliente" asp-route-id="@item.IdVeiculo">
            <img src="~/locadoraimagens/@item.Imagem"
                 style="width:200px;height:180px" class="img-thumbnail" /><br />
        </a>
        <a asp-action="Detalhes" asp-controller="Cliente" asp-route-id="@item.IdVeiculo">
        </a>
        <b>Marca: </b> @item.Marca<br />

    </div>
    }
</div>