@model Cliente


<div id="panel" class="panel panel-default no-padding">
    <a asp-action="ConfigConta" class="container-fluid">Voltar</a>
    <h2 class="text-primary">Editar Cliente</h2>
    <div class="panel-body no-padding">

        <div asp-validation-summary="ModelOnly" class="alert alert-dismissible alert-danger col-lg-3" style="float:right;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>

        <form asp-action="ClientEdit" method="post" role="form" class="form-horizontal">

            <input type="hidden" asp-for="IdCliente" />

            <div class="row">

                <div id="colImg" class="col-md-2 col-sm-2 col-xs-12 col-img">
                    <!-- Background image -->
                </div>

                <div class="col-md-5 col-sm-5 col-xs-12  padding border-right ">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="text-info">Id:</label>
                            <input type="text" class="form-control col-md-12" asp-for="IdCliente" readonly="" />
                        </div>
                        <div class="col-md-12">
                            <label class="text-info">Cpf</label>
                            <input type="text" class="form-control col-md-12" asp-for="Cpf" readonly="" />
                        </div>
                        <div class="col-md-12">
                            <label class="text-info">Rg</label>
                            <input type="text" class="form-control col-md-12" asp-for="Rg" readonly="" />
                        </div>
                        <div class="col-md-12">
                            <label class="text-info" for="PossuiReserva">Possui Reserva</label>
                            <select asp-for="PossuiReserva" class="form-control col-md-12" readonly="" required="">
                                <option>SIM</option>
                                <option>NAO</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label class="text-info" for="Status">Status</label>
                            <select asp-for="Status" class="form-control col-md-12" readonly="" required="">
                                <option>DISPONIVEL</option>
                                <option>CANCELADO</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-sm-5 col-xs-12  padding">

                    <div class="row">
                        <div class="col-md-12">
                            <label class="text-info">Senha</label>
                            <input type="text" class="form-control col-md-12" asp-for="Senha" required="" />
                        </div>
                        <div class="col-md-12">
                            <label class="text-info" for="Nome">Nome</label>
                            <input class="form-control col-md-12" asp-for="Nome" required="" />
                        </div>
                        <div class="col-md-12">
                            <label class="text-info" for="Descricao">Categoria Cnh</label>
                            <select asp-for="CategoriaCnh" class="form-control col-md-12" required="">
                                <option></option>
                                <option>A</option>
                                <option>B</option>
                                <option>AB</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label class="text-info" for="Cnh">Cnh</label>
                            <input class="form-control col-md-12" asp-for="Cnh" required="" />
                        </div>
                    </div>
                    <button style="margin-top:10px;" class="btn btn-outline-success col-md-12" type="submit">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var alturaFormulario = document.getElementById("panel").offsetHeight;

    document.getElementById("colImg").style.height = alturaFormulario + "px";
</script>

