@inject Microsoft.AspNetCore.Identity.UserManager<ClienteLogado> UserManager
@inject Microsoft.AspNetCore.Identity.SignInManager<ClienteLogado> SignInManager

@using Microsoft.AspNetCore.Http;
Welcome @Context.Session.GetString("IdCliente")
<h2>Index</h2>