
@model Moto

<form asp-action="BuscarMotos" method="post">
    <a asp-action="Index" class="container-fluid">Voltar a Home</a>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container" style="margin-top:15px;margin-bottom:30px">
        <h4 class="text-success">Cadastro de Moto</h4>

        <div class="form-group" id="Marca">
            <div class="form-inline">
                <select asp-items="ViewBag.Marca" class="form-control col-md-6" asp-for="IdMarca">
                    <option> - Selecione Marcas - </option>
                </select>
                <button asp-controller="Moto" value="" asp-action="BuscarMarcas" style="margin-left:10px;" class="btn btn-outline-warning col-md-2" type="submit">
                    Buscar Marcas
                </button>
            </div>
        </div>
        <div class="form-group" id="Moto">
            <div class="form-inline">
                <select asp-items="ViewBag.Moto" class="form-control col-md-6" asp-for="IdentVeiculo">
                    <option> - Selecione Motos- </option>
                </select>
                <button asp-controller="Moto" asp-action="BuscarMotos" style="margin-left:10px;" class="btn btn-outline-warning col-md-2" type="submit">
                    Buscar Motos
                </button>
            </div>
        </div>
        <div class="form-group" id="Modelo">
            <div class="form-inline">
                <select asp-items="ViewBag.Modelo" class="form-control col-md-6" asp-for="CodigoFipe">
                    <option> - Selecione Modelos- </option>
                </select>
                <button asp-controller="Moto" asp-action="BuscarModelosMoto" style="margin-left:10px;" class="btn btn-outline-warning col-md-2" type="submit">
                    Buscar Modelos
                </button>
            </div>
            <div class="form-group">
                <input type="submit" value="Carregar dados do veiculo" class="btn btn-outline-warning col-lg-6" asp-action="BuscarDadosVeiculo" asp-controller="Moto" style="margin-bottom:10px; margin-top:10px" />
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <input class="form-control col-md-1" style="margin-left:10px;" placeholder="Ano" asp-for="AnoModelo" title="Ano modelo" readonly="" />
                    <input class="form-control col-md-3" style="margin-left:10px;" placeholder="Marca do veiculo" asp-for="Marca" title="Marca do Veiculo" readonly="" />
                    <input class="form-control col-md-4" style="margin-left:10px;" placeholder="Nome do veiculo" asp-for="Modelo" title="Nome do Veiculo" readonly="" />

                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <input class="form-control col-md-1" type="color" style="margin-left:10px;" placeholder="Cor" asp-for="Cor" title="Cor do veiculo" />
                    <input class="form-control col-md-3" style="margin-left:10px;" placeholder="Preço do veiculo" asp-for="Valor" readonly="" title="Preço de acordo tabela Fipe" />
                    <input class="form-control col-md-4" style="margin-left:10px;" placeholder="Combustivel" asp-for="Combustivel" readonly="" title="Tipo de Combustivel" />
                </div>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <input class="form-control col-md-2" type="text" style="margin-left:10px;" placeholder="Placa" asp-for="Placa" title="Placa do veiculo" />
                    <input class="form-control col-md-3" style="margin-left:10px;" placeholder="Valor por hora do veiculo" asp-for="ValorPorHora" title="Valor por hora do veiculo" />
                    <input class="form-control col-md-3" style="margin-left:10px;" placeholder="Valor por dia do veiculo" asp-for="ValorPorDia" title="Valor por dia do veiculo" /><br />
                    <div class="alert alert-danger alert-dismissible fade @ViewBag.s" style="margin-top:10px; margin-left:10px;">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <span asp-validation-for="Placa"></span><br />
                    </div>
                </div>
            </div>
        </div>
        <button asp-controller="Moto" asp-action="Cadastrar" class="btn btn-outline-success col-md-6" type="submit">Cadastrar</button>
    </div>
</form>

