@model Moto

<form asp-action="EditarMoto" method="post">
    <div class="container" style="margin-top:15px;margin-bottom:30px">

        <a asp-action="Index" style="float:right">Voltar para listagem</a>

        <h4 class="text-success" style="margin-bottom:30px; margin-top:30px;">Editar Moto</h4>

        <div class="form-group" id="Modelo">
            <div class="form-group">
                <div class="form-inline">
                    <input class="form-control col-md-1" style="margin-left:10px;" placeholder="Ano" asp-for="AnoModelo" title="Ano modelo" readonly="" />
                    <input class="form-control col-md-3" style="margin-left:10px;" placeholder="Marca do veiculo" asp-for="Marca" title="Marca do Veiculo" readonly="" />
                    <input class="form-control col-md-4" style="margin-left:10px;" placeholder="Nome do veiculo" asp-for="Modelo" title="Nome do Veiculo" readonly="" />

                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <input class="form-control col-md-1" style="margin-left:10px;" placeholder="Cor" asp-for="IdVeiculo" title="Cor do veiculo" readonly="" />
                    <input class="form-control col-md-1" type="color" style="margin-left:5px;" placeholder="Cor" asp-for="Cor" title="Cor do veiculo" />
                    <input class="form-control col-md-2" style="margin-left:5px;" placeholder="Preço do veiculo" asp-for="Valor" readonly="" title="Preço de acordo tabela Fipe" />
                    <input class="form-control col-md-4" style="margin-left:10px;" placeholder="Combustivel" asp-for="Combustivel" readonly="" title="Tipo de Combustivel" />
                </div>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <input class="form-control col-md-2" type="text" style="margin-left:10px;" placeholder="Placa" asp-for="Placa" title="Placa do veiculo" readonly="" required=""/>
                    <input class="form-control col-md-3" style="margin-left:10px;" placeholder="Valor por hora do veiculo" asp-for="ValorPorHora" title="Valor por hora do veiculo" required=""/>
                    <input class="form-control col-md-3" style="margin-left:10px;" placeholder="Valor por dia do veiculo" asp-for="ValorPorDia" title="Valor por dia do veiculo" required=""/><br />

                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <div class="form-group">
                        <select asp-for="Status" class="form-control" style="margin-left:10px;">
                            <option>DISPONIVEL</option>
                            <option>RESERVADO</option>
                            <option>CANCELADO</option>
                        </select>
                    </div>
                </div>
            </div>
            <button asp-controller="Moto" asp-action="EditarMoto" class="btn btn-outline-success col-md-6" type="submit">Alterar Dados</button>
        </div>
    </div>
</form>
