
@model Carro

<div asp-validation-summary="ModelOnly" class="alert alert-dismissible alert-danger col-lg-12">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div id="panel" class="panel panel-default no-padding">
    <a asp-action="Index" style="float:right" enctype="multipart/form-data">Voltar para listagem</a>

    <h2 class="text-success" style="margin-bottom:30px; margin-top:30px;">Cadastro de Carro</h2>

    <div class="panel-body no-padding">

        <form asp-action="BuscarCarros" method="post" role="form" class="form-horizontal" enctype="multipart/form-data">

            <div class="row">

                <div id="colImg" class="col-md-2 col-sm-2 col-xs-12 col-img">
                    <!-- Background image -->
                </div>

                <div class="col-md-5 col-sm-5 col-xs-12  padding border-right ">
                    <label class="text-info" for="Marca">Marcas</label>
                    <div class="row">
                        <div class="col-md-10">
                            <select asp-items="ViewBag.Marca" class="form-control col-md-12" asp-for="IdMarca">
                                <option> - Selecione Marcas - </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button asp-controller="Carro" asp-action="BuscarMarcas" data-toggle="tooltip" data-placement="top" title="Buscar Marcas" class="btn btn-outline-warning col-md-12" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <select asp-items="ViewBag.Carro" class="form-control col-md-12" asp-for="IdentVeiculo">
                                <option> - Selecione Carros- </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button asp-controller="Carro" asp-action="BuscarCarros" data-toggle="tooltip" data-placement="top" title="Buscar Carros" class="btn btn-outline-warning col-md-12" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <select asp-items="ViewBag.Modelo" class="form-control col-md-12" asp-for="CodigoFipe">
                                <option> - Selecione Modelos- </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button asp-controller="Carro" asp-action="BuscarModelos" data-toggle="tooltip" data-placement="top" title="Buscar Modelos" class="btn btn-outline-warning col-md-12" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Carregar dados do veiculo" class="btn btn-outline-warning col-lg-12" asp-action="BuscarDadosVeiculo" asp-controller="Carro" style="margin-bottom:10px; margin-top:10px" />
                        </div>

                        <div class="col-md-12">
                            <label class="text-info" for="Combustivel">Combustivel</label><span class="text-danger">*</span>
                            <input class="form-control col-md-12" placeholder="Combustivel" asp-for="Combustivel" style="background:lightgray" readonly="" title="Tipo de Combustivel" required="" />
                        </div>

                        <div class="col-md-12">
                            <label class="text-info" for="Valor">Preço do Veiculo</label><span class="text-danger">*</span>
                            <input class="form-control col-md-12" placeholder="Preço do veiculo" asp-for="Valor" style="background:lightgray" readonly="" title="Preço de acordo tabela Fipe" required="" />
                        </div>

                        <div class="col-md-12">
                            <label class="text-info">Ano Modelo</label><span class="text-danger">*</span>
                            <input class="form-control col-md-12" placeholder="Ano" asp-for="AnoModelo" style="background:lightgray" readonly="" required="" />
                        </div>
                        <div class="col-md-12">
                            <label>Imagem:</label>
                            <input type="file" name="fupImagem" />
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-sm-5 col-xs-12  padding">

                    <div class="row">
                        <div class="col-md-12">
                            <label class="text-info" for="Placa">Nome do Veiculo</label><span class="text-danger">*</span>
                            <input class="form-control col-md-12" placeholder="Nome do veiculo" asp-for="Modelo" style="background:lightgray" title="Nome do Veiculo" readonly="" required="" />
                        </div>
                        <div class="col-md-12">
                            <label class="text-info" for="Marca">Marca do Veiculo</label><span class="text-danger">*</span>
                            <input class="form-control col-md-12" placeholder="Marca do veiculo" asp-for="Marca" style="background:lightgray" title="Marca do Veiculo" readonly="" required="" />
                        </div>
                        <div class="col-md-12">
                            <label class="text-info" for="Placa">Placa</label><span class="text-danger">*</span>
                            <input class="form-control col-md-12" type="text" placeholder="Placa" asp-for="Placa" title="Placa do veiculo" />
                        </div>
                        <div class="col-md-12">
                            <label class="text-info" for="Cor">Cor</label>
                            <input class="form-control col-md-12" type="color" placeholder="Cor" asp-for="Cor" title="Cor do veiculo" />
                        </div>
                        <div class="col-md-12">
                            <label class="text-info" for="ValorPorHora">Valor Aluguel/Hr</label><span class="text-danger">*</span>
                            <input class="form-control col-md-12" asp-for="ValorPorHora" title="Valor por hora do veiculo" required="" />
                        </div>

                        <div class="col-md-12">
                            <label class="text-info" for="ValorPorDia">Valor Aluguel/Dia</label><span class="text-danger">*</span>
                            <input class="form-control col-md-12" asp-for="ValorPorDia" title="Valor por dia do veiculo" required="" />
                        </div>
                    </div>
                    <button asp-controller="Carro" asp-action="Cadastrar" class="btn btn-outline-success col-md-12" type="submit">Cadastrar</button>

                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var alturaFormulario = document.getElementById("panel").offsetHeight;

    document.getElementById("colImg").style.height = alturaFormulario + "px";

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>

